/*Обнуление*/
*{
    color: #351F21;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/*------Fonts------*/

h1{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #156963;
    line-height: 24px;
}

h2{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
p{
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.address{
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #4F4F4F;
}

/*--------------------*/


/*------Header------*/

header{
    margin: 30px 13% 0 13%;
    max-height: 689px;
    width: 74%;
    overflow: hidden;
    position: relative;
}

header img {
    margin-top: -50%; /* Смещаем изображение вверх на 50% его высоты */
    position: relative;
}

/*--------------------*/


/*------Footer------*/

footer{
    display: flex;
    margin: 100px 13% 70px 13%;
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 24px;
}

.Plantku-House{
    margin-bottom: 10px;
    color: #333333;
}

h2{
    margin-bottom: 20px;
}

p{
    max-width: 282px;
    color: black;
}

p:not(:first-child){
    margin-bottom: 14px;
}

footer div:not(:first-child){
    margin-left: 80px;
}

.text{
    margin-bottom: 14px;
    border-radius: 2px;
    border: 1px solid #F2F2F2;
    padding: 8px 87px 8px 13px;
}

.Submit{
    background: #156963;
    font-size: 8px;
    color: white;
    padding: 4px 12px;
    width: 50px;
}

.Submit:hover {
    cursor: pointer;
}

/*--------------------*/

@media (max-width: 800px) {
    footer{
        flex-direction: column;
        margin: 0 50%;
    }
    footer div:not(:first-child){
        margin-left: 0;
    };
    p{
        min-width: 250px;
    }
}